
<html>
    <link rel= "stylesheet" type= "text/css" href= "/Static/Css/style.css">
   <body>     
      <form action = "/Call" method = "post">
          
<div class="Text_Input"><p>Mobile number: <input type = "text" name = "Mobile_Number" value="+31638475605" /></p></div>
<p>Name: <input type = "text" name = "Name" value="Jop Koning"/></p>
<input type = "submit" name = "submit_button" value="Voice_Initial"/>
<input type = "submit" name = "submit_button" value="Voice_Callback"/>
<input type = "submit" name = "submit_button" value="Dail_Initial"/>
<input type = "submit" name = "submit_button" value="Dail_Callback"/>


      </form>     
   </body>
</html>

